# Assignment No.>> 8

## Topic:>> Regular Expressions

# 1) Write a python program to check that a string contains only a certain set of characters (in this case a-z, A-Z, and 0-9).

In [22]:
import re 

text=""" PAN CARD NUMBERS:
         ASDFG1234w   
         POUST5689n   
         XYZRT5689m   
         CFGHU6543d  
"""

PAN_CARD= re.findall("[A-Z]{5}[0-9]{4}[a-z]{1}",text)
print(PAN_CARD)

['ASDFG1234w', 'POUST5689n', 'XYZRT5689m', 'CFGHU6543d']

# 2) Create a program to split a string by only the first occurrence of any substring.

In [23]:
string="python and data science and sql"
str1=re.split("and",string,1)
str1

['python ', ' data science and sql']

# 3) Code that would match a string that has an a followed by zero or more b's.

In [65]:
import re
text=" aaaab arab "
text1="aaaab aaabncncn"
pattern=re.compile(r"\b[^b]+[b]*\b")
x=re.findall(pattern,text)
x1=re.findall(pattern,text1)
print(x)
print(x1)

['aaaab', ' arab']
['aaaab', ' ']

# 4) Wap to find Three-digit numbers followed by space followed by two-digit numbers in a string.

In [27]:
import re
vehicle="01 DB 333 23 "
no=re.findall(r"\b[0-9]{3}[ ]\d{2}\b",vehicle)
print(no)

['333 23']

# 5) Write a Python program that matches a string that has an a followed by one or more b's.

In [28]:
import re
text="aaaa baaaabbbb anshdkkdbbbbb"

pattern=re.compile(r"\b[^b]+[b]+\b")
x=re.findall(pattern,text)

print(x)

[' anshdkkdbbbbb']

# 6) Write a program to search inform in a string both in uppercase & in lowercase)(INFORM or inform)

In [60]:
import re
text="INFORM or inform"
word=re.findall(r"inform|INFORM",text)
print(word)

['INFORM', 'inform']

# 7) WAP that matches a string that has an a followed by zero or one 'b'.

In [55]:
import re
text="aaaa baaaabbbb anshdkkdb"

pattern=re.compile(r"\b[^b]+[b]*\b")
x=re.findall(pattern,text)

print(x)

['aaaa ', ' anshdkkdb']

# 8) WAP that matches a string that has an a followed by three 'b'.

In [54]:
import re
text="aaaa aaabbbb anshdkkdbbb asdfgjbbbbb"

pattern=re.compile(r"\b[a-z]+[b]{3}")
x=re.findall(pattern,text)

print(x)

['aaabbbb', 'anshdkkdbbb', 'asdfgjbbbbb']

# 9) Write a Python program that matches a string that has an a followed by two to three 'b'.

In [66]:
import re
text="aaaa baaaabbbb anshdkkdbbb asdfgjbb"
text1="aaaab aaancncnbb asdfbbb"
pattern=re.compile(r"\b[^b]+[b]{2,3}\b")
x=re.findall(pattern,text)
x1=re.findall(pattern,text1)
print(x)
print(x1)

[' anshdkkdbbb', ' asdfgjbb']
[' aaancncnbb', ' asdfbbb']

# 10)Find all the words starting in range of k-n using a for loop & re.

In [41]:
import re
text = "kind king lemon mango light night sjhdhdk nice ."
list = re.findall(r"\b[k-nK-N]\w+\b", text)
print(list)

['kind', 'king', 'lemon', 'mango', 'light', 'night', 'nice']

# 11) Write a Python program to find sequences of lowercase letters joined with an underscore.

In [42]:
import re
text2="Virat_kohli,ms_Dhoni,deepak_verma"
text3=re.findall(r"\b[a-z]+[_]{1}[a-z]+\b",text2)
print(text3)

['deepak_verma']

# 12)Write a program to find the sequences of one upper case letter followed by lower case letters.

In [43]:
import re
text2="Virat_kohli,ms_dhoni,Deepak_verma"
text3=re.findall(r"\b[A-Z]{1}[a-z]+[_]{1}[a-z]+\b",text2)
print(text3)

['Virat_kohli', 'Deepak_verma']

# 13)Write a program that matches a string that has an 'a' followed by anything, ending in 'b'.

In [52]:
import re
text1="aCDb aaabb awertcb weryuhgb"
text2=re.findall(r"\ba.+b$\b",text1)
print(text2)

['aCDb aaabb awertcb weryuhgb']

# 14)WAP that matches a word at the beginning of a string.

In [47]:
import re
string = "The rain in INDIA"

word=re.findall(r"\AThe",string)
word

['The']

# 15)Write a program that matches a word at the end of a string, with optional punctuation.

In [60]:
import re
text="vaibhav prashant deepak"
text2=re.search("deepak|prashant",text)
print(text2.group())

prashant

# 16)Write a Python program that matches a word containing 'z'.

In [50]:
import re
text="altroz,albatroz,zionzz"
z=re.findall(r"[a-z]+\Bz[a-z]*",text)
print(z)

['altroz', 'albatroz', 'zionzz']

# 17)Write a program that matches a word containing 'z', not at the start or end of the word.

In [51]:
import re
text="azipro,cozy,buzz,coze"
z=re.findall(r"[a-y]+\Bz[a-y]+",text)
print(z)

['azipro', 'cozy', 'coze']

# 18)Write a program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [43]:
import re
t="virat6115_  ,Deepak93_ ,msdhoni_7"
idz=re.findall("[A-Za-z_0-9]+",t)
print(idz)

['virat6115_', 'Deepak93_', 'msdhoni_7']

# 19)WAP where a string will start with a specific number.

In [78]:
import re
mo="99jdkl bdjdkl wui485 99resh_  99hkcld"
no=re.findall("99[a-z0-8]{2,8}",mo)
print(no)

['99jdkl', '99resh', '99hkcld']

# 20)Write a Python program to remove leading zeros from an IP address.

In [37]:
import re
ip="230.02.09"
string = re.sub('\.[0]*', '.', ip)
print(string)

230.2.9

# 21)Write a program to check for a number at the end of a string

In [57]:
import re
name="""vaibhav2
        prashant4
        deepak4
       """
name1=re.findall(r"\b[a-zA-z]+[0-9]+\b",name)
print(name1)

['vaibhav2', 'prashant4', 'deepak4']

# 22)Code a program to search the numbers (0-9) of length between 1 to 3 in a given string. "Exercises number 1, 12, 13, and 345 are important"

In [24]:
import re
numbers="Exercises number 1, 12, 13, and 345  3456 are important"
search=re.findall(r"\b[0-9]{1,3}\b",numbers)
print("numbers of length between 1 to 3 :",search)

numbers of length between 1 to 3 : ['1', '12', '13', '345']

# 23)Write a program to search some literals strings in a string.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [23]:
import re
Sampletext= 'The quick brown fox jumps over the lazy dog.'

Searched=re.search("fox",Sampletext)
Searched2=re.search("dog",Sampletext)
Searched3=re.search("horse",Sampletext)

print(Searched.group())
print(Searched2.group())
print(Searched3)

fox
dog
None

# 24)Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [66]:
import re
text='The quick brown fox jumps over the lazy dog.'
result=re.search("fox",text)
print(result.group())
print(result.span())

fox
(16, 19)

# 25)Write a code to find a common substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'
Note: There are two instances of exercises in the input string.

In [3]:
import re
Sampletext='Python exercises, PHP exercises, C# exercises'
pattern="exercises"
for x in re.finditer(pattern,Sampletext):
    s=x.start()
    e=x.end()
    print(Sampletext[s:e])

exercises
exercises
exercises

# 26)Write a program to find the occurrence and position of the substrings within a string.

In [2]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for x in re.finditer(pattern, text):
    s = x.start()
    e = x.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

# 27)Write a code to replace whitespaces with an underscore and vice versa.

In [16]:
import re
text = 'Python_ exercises_, PHP exercises, C# exercises__'
result=re.sub("\s","_",text)
result1=re.sub("_"," ",text)
print(result)
print(result1)

Python__exercises_,_PHP_exercises,_C#_exercises__
Python  exercises , PHP exercises, C# exercises

# 28)How would you remove all whitespaces from a string?

In [ ]:
 re.sub("\s","") is used to remove all whitespaces from given string.

# 29)Write a Python program to match if two words from a list of words starting with the letter 'P'

In [15]:
import re
list1=["pass","prashant","python","vaibhav"]
string=" ".join(list1)
pattern="p[a-z]+"
for x in re.finditer(pattern,string):
    print(x.group())

pass
prashant
python

# 30)Write a code to find all words starting with 'a' or 'e' in a given string.

In [13]:
import re
text="all the east and else be the west to all to follow"
pattern=r"\ba[a-z]+|\be[a-z]+"
for x in re.finditer(pattern,text):
    print(x.group())

all
east
and
else
all

# 31)Write a Python program to separate and print the numbers and their position of a given string.

In [19]:
import re
text="one1,2two,three33,four4444"
for x in re.finditer("\d+",text):
    print(x.group(), "is at index ",x.start())

1 is at index  3
2 is at index  5
33 is at index  15
4444 is at index  22

# 32)Write a Python program to replace all occurrences of space, comma, or dot with a colon.

In [6]:
import re
text="all occurrences of space, comma, or dot with a colon."
pattern=re.sub("[ ,.]","[:]",text)
print(pattern)

all[:]occurrences[:]of[:]space[:][:]comma[:][:]or[:]dot[:]with[:]a[:]colon[:]

# 33)Write a program to replace maximum 2 occurrences of space, comma, or dot with a colon.

In [8]:
import re
text="occurrencesof space, comma, or dot with a colon."
pattern=re.sub(r"[,.]",":",text,2)
print(pattern)

occurrencesof space: comma: or dot with a colon.

# 34)Write a Python program to find all three, four, five characters long words in a string.

In [3]:
import re
text="to find all three, four, five characters long words in a string."
y=re.findall(r"\b\w{3,5}\b",text)
print(y)

['find', 'all', 'three', 'four', 'five', 'long', 'words']

# 35)Write a program to extract values between quotation marks of a string.

In [2]:
import re
text='"Python", "DATASCIENCE", "SQL"'
y=re.findall("\w+",text)
print(y)

['Python', 'DATASCIENCE', 'SQL']

# 36)How would you remove multiple spaces in a string?

In [ ]:
re.sub("\s+","") is used to whitespaces from given string.